/*-------------------Need font family and weights-------------------*/

/*-------------------Body-------------------*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/*-------------------Header-------------------*/

.header-bg {
    background-color: #283618;
}

.header-title {
    color: #FFF;
    margin: 0;
    /*--font weight property here to make title stand out, h1 tags too big.--*/
}

.img-title-alignment {
    margin-bottom: 16px;
}

/*-------------------Navigation-------------------*/

.nav-link {
    text-decoration: none;
    color: #FFF;
}

.nav-link:hover {
    color: #DDA15E;
}


/*-------------------Landing-------------------*/

.container-drinks {
    max-width: 500px;
}

.card-game {
    max-width: 700px;
}

/*-------------------Leaderboard-------------------*/

.ld-who {
    padding: 15px;
}

.ld-score {
    padding-bottom: 45px;
}

/*-------------------Custom Button Props.-------------------*/

.btn-extra-large {
    padding: 12px 24px;
}

.btn-choices {
    width: 200px;
}

.hide {
    display: none;
}

/*-------------------Footer-------------------*/

footer {
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

footer a:hover {
    color: #DDA15E;
}

.footer-size {
    padding: 10px;
    text-align: center;
}