{% extends 'index.html' %} {% block content %}

<div class="container mt-5">
  <div class="card card-game shadow rounded mx-auto mt-3">
    <div class="card-body">
      <div class="container-fluid mb-5 text-center">
        <img
          src="static/media/icons/025-whiskey.svg"
          alt="Whiskey"
          height="50px"
          width="50px"
        />
        <h2 class="display-3 mb-5 ld-who d-inline align-middle">About</h2>
        <img
          src="/static/media/icons/028-flag.svg"
          alt="Irish Flag"
          height="50px"
          width="50px"
        />
      </div>
    </div>
    <div class="container mb-2 w-75 text-center">
      <h5>What does the Irish say?</h5>
      <p>This project was created for the Code Institute Hackathon 2021</p>
      <h5>Version:</h5>
      <p>1.0.0</p>
      <h5>Project Repository:</h5>
      <a
        href="https://github.com/ThiagoHardt/whatdoestheirishsay"
        class="text-decoration-none"
        ><p>Here</p></a
      >
      <h5>Mentored by:</h5>
      <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <a href="https://soundcloud.com/contrastparity" target="_blank"
            ><i class="bi bi-globe m-1" style="font-size: 20px"></i
          ></a>
          <a href="https://github.com/Jays-T" target="_blank"
            ><i class="bi bi-github m-1" style="font-size: 20px"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/john-traas-25603325/"
            target="_blank"
          >
            <i class="bi bi-linkedin m-1" style="font-size: 20px"></i
          ></a>
          <p>John Traas</p>
        </div>
      </div>
        <h5>Team We Don't Byte</h5>
        <div class="row mt-4 mx-auto">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <a
              href="https://thiagohardt.github.io/thiago-hardt-portfolio/"
              target="_blank"
              ><i class="bi bi-globe m-1" style="font-size: 20px"></i
            ></a>
            <a href="https://github.com/ThiagoHardt" target="_blank"
              ><i class="bi bi-github m-1" style="font-size: 20px"></i
            ></a>
            <a href="https://www.linkedin.com/in/thiago-hardt/" target="_blank">
              <i class="bi bi-linkedin m-1" style="font-size: 20px"></i
            ></a>
            <p>Thiago Hardt</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <a href="https://github.com/AlienatedSoftware" target="_blank"
              ><i class="bi bi-github m-1" style="font-size: 20px"></i
            ></a>
            <a href="https://www.linkedin.com/in/aidancgart/" target="_blank"
              ><i class="bi bi-linkedin m-1" style="font-size: 20px"></i
            ></a>
            <p>Aidan Walsh</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <a href="https://github.com/Jakub1994" target="_blank"
              ><i class="bi bi-github m-1" style="font-size: 20px"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/jakub-ostaszewski-22403a164/"
              target="_blank"
              ><i class="bi bi-linkedin m-1" style="font-size: 20px"></i
            ></a>
            <p>Jakub Ostaszewski</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
