{% extends 'index.html' %} {% block content %}

    <div class="container">
      <div class="card card-game shadow-sm rounded mx-auto mt-3">
        <div class="card-body">
          <div class="container-fluid mb-5">
            <h2 class="display-5 text-center mb-5 header-bg rounded text-light ld-who">
                <img src="static/media/icons/025-whiskey.svg" alt="Whiskey" height="50px" width="50px">
                About us
                <img src="/static/media/icons/028-flag.svg" alt="Irish Flag" height="50px" width="50px">
            </h2>
          </div>
          <div class="row mt-4 mb-2 text-center">
            <ul><h3>Thiago Hardt</h3>
            <li><a href="https://github.com/ThiagoHardt" class="bi bi-github"></a></li>
            <li><a href="https://www.linkedin.com/in/thiago-hardt-461144195/" class="bi bi-linkedin"></a></li>
            </ul>
            <ul><h3>Aidan Walsh</h3>
            <li><a href="https://github.com/AlienatedSoftware" class="bi bi-github"></a></li>
            <li><a href="https://www.linkedin.com/in/aidancgart/" class="bi bi-linkedin"></a></li>
            </ul>
            <ul><h3>Jakub Ostaszewski</h3>
            <li><a href="https://github.com/Jakub1994" class="bi bi-github"></a></li>
            <li><a href="https://www.linkedin.com/in/jakub-ostaszewski-22403a164" class="bi bi-linkedin"></a></li>

            </ul>
             
          </div>
        </div>
      </div>
    </div>

{% endblock %}
