<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    <title>What Does The Irish Say?</title>
</head>
<body>
<!--------------------------Header & Navigation-------------------------->
<nav class="navbar navbar-light header-bg">
    <div class="container-fluid">
        <!--Link needed for logo to take to homepage-->
        <a class="navbar-brand" href="#">
            <!--SVG Image Required & alligned centered with title-->
            <img src="/static/media/icons/017-leprechaun.svg" alt="leprechaun" width="50" height="50" class="d-inline-block img-title-alignment">
            <h1 class="header-title d-inline-block">What does the Irish say?</h1>
        </a>
        <!--Links will need fixing backend program-->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="leaderboard.html">Leaderboard</a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>