{% extends 'index.html' %} {% block content %}

    <div class="container">
      <div class="card card-game shadow-sm rounded mx-auto mt-3">
        <div class="card-body">
          <div class="container-fluid mb-5">
            <h2 class="display-5 text-center mb-5 header-bg rounded text-light ld-who">
                <img src="/static/media/icons/029-hat-1.svg" alt="Hat full of gold" height="50px" width="50px">
                Leaderboard
                <img src="/static/media/icons/032-medal.svg" alt="medal" height="50px" width="50px">
            </h2>
          </div>
          <div class="row mt-3 mb-2 text-center">
              <div>
                  <!--LeaderBoard Data Here, placeholder for now.-->
                  <ol class="ld-score list-group list-group-flush">
                      <li class="list-group-item">Player
                          <!--Spans represent the score that players achieved-->
                          <span class="badge header-bg rounded-pill">14</span>
                      </li>
                      <li class="list-group-item">Player with longer name
                          <span class="badge header-bg rounded-pill">9</span>
                      </li>
                      <li class="list-group-item">Player
                          <span class="badge header-bg rounded-pill">7</span>
                      </li>
                      <li class="list-group-item">Player with longer name
                          <span class="badge header-bg rounded-pill">3</span>
                      </li>
                  </ol>
              </div>
            <div class="col text-center">
              <a
                href="{{ url_for('play') }}"
                class="btn btn-extra-large btn-success"
              >
                PLAY AGAIN?
              </a>
              <div class="row mt-3 mb-2 text-center">
                <div class="col text-center">
                  <a href="{{ url_for('rules') }}" class="btn btn-large btn-danger"> RULES </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {%endblock%}